@media (max-width: 1200px) {
    .form__input, .form__select {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .header__nav {
       display: none;
    }

    .header__burger {
        position: relative;
        display: block;
        border: 1px solid currentColor;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        color: #3172b9;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 13px;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .burger__line:nth-child(3) {
        bottom: 13px;
    }

    .header__btn {
        margin-right: 7px;
        padding: 11px 21px;
    }

    .hero__content {
        max-width: 75%;
    }

    .services__list {
        --offsets: 2;
    }

    .clients__list {
        --offsets: 1; 
    }

    .footer__container {
       flex-direction: column;
    }

    .footer-left {
        margin-bottom: var(--gap);
    }
}

@media (max-width: 768px) {
    .services__list {
        --offsets: 1;
    }

    .blog-preview__link {
        flex-direction: column;
    }

    .form {
        padding: 0;
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 12px;
    }

    .socials__item:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 576px) {
    .clients__list {
        --offsets: 0; 
    }

    .contacts__list {
        --offsets: 0;
        gap: 30px;
    }

    .footer-right {
        flex-direction: column;
    }

    .header__logo {
        width: 80px;
    }
    
    .header {
        padding: 15px 0;
    }

    .hero__content {
        max-width: 100%;
    }

    .hero {
        padding-top: 30px;
        padding-bottom: 0;
        background-image: none;
    }

    .hero__title {
        margin-bottom: 16px;
    }

    .hero__descr {
        margin-bottom: 16px;
    }

    .hero__wrapper {
        width: 100%;
    }

    .hero__btn {
        width: 100%;
    }

    .section-offset {
        padding: 60px 0;
    }

    .section-title {
        margin-bottom: 16px;
        text-align: left;
    }

    .section-descr {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1px;
        text-align: left;
        margin-bottom: 15px;
    }

    :root {
        --gap: 15px;
      }

      .services__list {
        row-gap: 20px;
      }

      .services__item {
        padding: 15px;
        min-height: 222px;
      }

      .services__item-icon {
        height: 42px;
        margin-bottom: 14px;
      }

      .services__item-title {
        font-size: 16px;
        margin-bottom: 3px;
      }

      .services__item-descr {
        font-size: 12px;
      }

      .articles__title {
        margin-bottom: 12px;
       }

      .articles__list {
        --offsets: 0; 
    }

    .blog-preview__link {
        flex-direction: row;
        align-items: center;
    }

    .blog-preview {
        min-height: 191px;
    }

    .blog-preview__img {
        flex-shrink: 0;
        width: 86px;
        height: 100%;
    }

    .blog-preview__text {
        padding: 15px 14px;
    }

    .blog-preview__title {
        margin-bottom: 0px;
    }

    .clients__item {
        padding: 18px 18px;
    }
    
    .clients__avatar {
        margin-right: 16px;
    }
    
    .clients__name {
        margin-bottom: 0;
    }

    .contacts__title {
        margin-bottom: 16px;
    }

    .contacts__item {
        padding-top: 40px;
    }

    .contacts__item-caption {
        margin-bottom: 10px;
    }

    .form-top {
        flex-direction: column;
        margin-bottom: 11px;
    }

    .form-left {
        width: 100%;
        margin-bottom: 19px;
    }

    .form__input {
        padding-left: 19px;
    }

    .form-right {
        width: 100%;
    }

    .form__textarea {
        padding: 15px 19px;
        height: 240px;
    }

    .form__wrapper {
        width: 100%;
    }

    .form__btn {
        width: 100%;
        margin-bottom: 16px;
    }

    .footer {
        padding: 0;
        padding-top: 30px;
    }

    .footer__container {
        flex-direction: column-reverse;
    }

    .footer__nav .nav__link {
        font-size: 15px;
        line-height: 20px;
    }

    .footer__nav .nav__list {
       flex-wrap: wrap;
       gap: 15px 32px;
    }

    .footer__nav {
        margin-right: 0;
        margin-bottom: 26px;
    }

    .footer__nav .nav__item:not(:last-child) {
        margin-right: 0px;
    }

    .footer-right {
        align-items: flex-start;
        margin-bottom: 28px;
    }

    .socials__item:not(:last-child) {
        margin-right: 25px;
    }

    .footer-left {
        margin-bottom: 0;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer__logo {
        width: 80px;
        margin-bottom: 26px;
        justify-content: flex-start;
    }

    .footer__copy {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 17px 0;
    }

    .footer__copy::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        width: calc(100% + 30px);
        height: 1px;
        background-color: #c4c4c4;
    }
}