html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-height: 100%;
  height: auto;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("../fonts/OpenSansRegular.woff2") format("woff2"), 
  url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"), url("../fonts/OpenSansLight.woff2") format("woff2"), 
  url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemBold"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), 
  url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

:root {
  --gap: 30px;
}

ul { 
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  border-radius: 3px;
  padding: 15px 35px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  background-color: #3172b9;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #71A7E2;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn:active::after {
  opacity: 0;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  margin-bottom: 23px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 16px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header  */
.header {
  padding: 33px 0 28px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 51px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link:focus {
outline: 1px solid #71A7E2;
outline-offset: 3px;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3172b9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172B9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.header__btn {
  width: 150px;
  height: 50px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

/* hero */

.hero {
  padding: 112px 0 133px;
  background-image: url('../image/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #1c1c1c;
}

.hero__descr {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  padding-top: 20px;
  padding-bottom: 22px;
  min-width: 250px;
}

.hero__secure {
  background-image: url('../image/secure.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
  padding-left: 25px;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
}

/* services */

.services {
  border-bottom: 1px solid #E4E4E4;
}
.services__title {
  text-align: center;
}

.services__descr {
  text-align: center;
}

.services__list {
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.services__item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}


.services__item-icon {
  fill: #3172B9;
  margin-bottom: 30px;
  transition: fill 0.4s ease-in-out;
}

.services__item:hover .services__item-icon {
  fill: #fff;
}

.services__item-title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #1c1c1c;
  transition: color 0.4s ease-in-out;
}

.services__item:hover .services__item-title {
  color: #fff;
}

.services__item-descr {
  text-align: center;
  font-size: 14px;
  line-height: 150%;  
  color: #787878;
  transition: color 0.4s ease-in-out;
}

.services__item:hover .services__item-descr {
  color: #fff;
}

/* articles */

.articles {
  border-bottom: 1px solid #E5E5E5;
}

.articles__title {
  margin-bottom: 39px;
}

.articles__list {
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.articles__item {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  margin-bottom: 27px;
}

.blog-preview__link {
  display: flex;
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.blog-preview {
  overflow: hidden;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog-preview__img {
  object-fit: cover;
}

.blog-preview__text {
  padding: 23px 31px 0;
}

.blog-preview__time {
  display: block;
  margin-bottom: 2px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;;
}

.blog-preview__title {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.blog-preview__descr {
font-size: 14px;
line-height: 150%;
color: #787878;
max-width: 210px;
transition: color 0.3s ease-in-out;
}

.blog-preview__link:focus {
  background-color: #71A7E2;
}

.blog-preview__link:focus .blog-preview__time {
  color: #fff;
}

.blog-preview__link:focus .blog-preview__title {
  color: #fff;
}

.blog-preview__link:focus .blog-preview__descr {
  color: #fff;
}

.blog-preview__link:hover {
  background-color: #3172B9;
}

.blog-preview__link:hover .blog-preview__time {
  color: #fff;
}

.blog-preview__link:hover .blog-preview__title {
  color: #fff;
}

.blog-preview__link:hover .blog-preview__descr {
  color: #fff;
}

.blog-preview__link:active {
  background-color: #0E3B6C;
}

.blog-preview__link:active .blog-preview__time {
  color: #fff;
}

.blog-preview__link:active .blog-preview__title {
  color: #fff;
}

.blog-preview__link:active .blog-preview__descr {
  color: #fff;
}

/* clients */

.clients {
  border-bottom: 1px solid #E5E5E5;
  padding-top: 57px;
}

.clients__title {
  margin-bottom: 43px;
}

.clients__list {
  --offsets: 2;
  gap: var(--gap);
  flex-wrap: wrap;
}

.clients__item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 49px 36px;
  padding-bottom: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.clients__item-descr {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  max-width: 285px;
}

.clients__user {
margin-top: auto;
align-items: center;
border-top: 1px solid;
width: 100%;
padding-top: 28px;
color: #e4e4e4;
}

.clients__avatar {
flex-shrink: 0;
width: 68px;
margin-right: 21px;
}

.clients__name {
margin-bottom: 8px;
font-weight: 600;
font-size: 17px;
line-height: 70%;
color: #1c1c1c;
}

.clients__post {
font-size: 14px;
line-height: 70%;
color: #787878;
}

/* contacts */

.contacts { 
  padding-top: 71px;
  border-bottom: 1px solid #E5E5E5;
}

.contacts__title {
  margin-bottom: 109px;
}
.contacts__address {
  font-style: normal;
}

.contacts__list {
  --offsets: 2;
  gap: var(--gap);
  flex-wrap: wrap;
}

.contacts__item {
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 49px;
}

.contacts__item-visit {
  background-image: url('../image/visit.svg');
}

.contacts__item-call {
  background-image: url('../image/call.svg');
}

.contacts__item-email {
  background-image: url('../image/email.svg');
}

.contacts__item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 173%;
  color: #1c1c1c;
}

.contacts__item-descr {
  max-width: 215px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts__item-link {
  display: inline-block;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts__item-link:focus {
  outline: 1px #71A7E2 solid;
}

.contacts__item-link:hover {
  color: #71A7E2;
}

.contacts__item-link:active {
  outline: none;
  color: #0E3B6C;
}

/* form */

.join-us {
  border-bottom: 1px solid #E5E5E5;
}

.join-us__title {
  text-align: center;
  padding-top: 9px;
}

.join-us__descr {
  text-align: center;
  margin-bottom: 35px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  gap: 14px;
}

.form-right {
  width: 49%;
}

.form__input {
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #dadada;
  width: 250px;
  height: 60px;
  padding: 16px 28px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form__input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form__input:hover {
  border-color: #71A7E2;
}

.form__input:active {
 border-color: #0E3B6C;
}

.form__select{
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #dadada;
  width: 250px;
  height: 60px;
  padding: 16px 28px;
}

.form__textarea {
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form__textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form__textarea:hover {
  border-color: #71A7E2;
}

.form__textarea:active {
 border-color: #0E3B6C;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 22px;
  min-width: 230px;
  margin-bottom: 9px;
}

.form__check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form__check input {
  margin-right: 8px;
  color: #787878;
}

.form__check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/* footer */

.footer {
  padding: 44px 7px;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer-left, .footer-right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav .nav__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 20.43px;
  color: #787878;
}

.footer__copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}


.socials__item:not(:last-child) {
  margin-right: 27px;
}

.socials__link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.socials__link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.socials__link-mail svg {
  fill: transparent;
  stroke: #000;
}

.socials__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.socials__link:hover svg {
  fill: #71A7E2;
}

.socials__link-mail:hover svg {
  fill: transparent;
  stroke:  #71A7E2;
}

.socials__link:active svg {
  fill: #3172B9;
}

.socials__link-mail:active svg {
  fill: transparent;
  stroke:  #3172B9;
}